In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from utils.const import DTYPES_DICT,CANDIDATES,NUM_COLUMNS  
from utils.func import prepare_results_data2020, prepare_trusttee_presence_data2020, prepare_gus_population

pd.set_option('display.max_columns', 50)

#### election results loaded

In [2]:
election_1_df = prepare_results_data2020(r"..\data\wybory_2020\wyniki1tura.csv")

election_2_df = prepare_results_data2020(r"..\data\wybory_2020\wyniki2tura.csv")

election_1_df['turn'] = '1'
election_2_df['turn'] = '2'

results_2020 = pd.concat([election_1_df, election_2_df], ignore_index=True)

In [3]:
election_1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25433 entries, 0 to 25432
Data columns (total 45 columns):
 #   Column                                                                                         Non-Null Count  Dtype
---  ------                                                                                         --------------  -----
 0   Symbol kontrolny                                                                               25433 non-null  object
 1   Nr OKW                                                                                         25433 non-null  object
 2   Kod TERYT                                                                                      25433 non-null  object
 3   Typ gminy                                                                                      25433 non-null  object
 4   Numer obwodu                                                                                   25433 non-null  object
 5   Typ obszaru                                                                                    25433 non-null  object
 6   Typ obwodu                                                                                     25433 non-null  object
 7   Siedziba                                                                                       25433 non-null  object
 8   Gmina                                                                                          25433 non-null  object
 9   Powiat                                                                                         25433 non-null  object
 10  Województwo                                                                                    25433 non-null  object
 11  Komisje obwodowe otrzymały kart do głosowania                                                  25433 non-null  int64
 12  Liczba wyborców uprawnionych do głosowania                                                     25433 non-null  int64
 13  Nie wykorzystano kart do głosowania                                                            25433 non-null  int64
 14  Liczba wyborców, którym wydano karty do głosowania                                             25433 non-null  int64
 15  Liczba wyborców głosujących przez pełnomocnika                                                 25433 non-null  int64
 16  Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania                  25433 non-null  int64
 17  Liczba wyborców, którym wysłano pakiety wyborcze                                               25433 non-null  int64
 18  Liczba otrzymanych kopert zwrotnych                                                            25433 non-null  int64
 19  Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu    25433 non-null  int64
 20  Liczba kopert zwrotnych, w których oświadczenie nie było podpisane                             25433 non-null  int64
 21  Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania                     25433 non-null  int64
 22  Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania  25433 non-null  int64
 23  Liczba kopert na kartę do głosowania wrzuconych do urny                                        25433 non-null  int64
 24  Liczba kart wyjętych z urny                                                                    25433 non-null  int64
 25  W tym liczba kart wyjętych z kopert na kartę do głosowania                                     25433 non-null  int64
 26  Liczba kart nieważnych                                                                         25433 non-null  int64
 27  Liczba kart ważnych                                                                            25433 non-null  int64
 28  Liczba głosów nieważnych                                                                       25433 non-null  int64
 29  W tym z powodu postawienia znaku „X” obok nazwiska dwóch lub większej liczby kandydatów        25433 non-null  object
 30  W tym z powodu niepostawienia znaku „X” obok nazwiska żadnego kandydata                        25433 non-null  object
 31  W tym z powodu postawienia znaku „X” wyłącznie obok skreślonego nazwiska kandydata             25433 non-null  object
 32  Liczba głosów ważnych oddanych łącznie na wszystkich kandydatów                                25433 non-null  int64
 33  Robert BIEDROŃ                                                                                 25433 non-null  int64
 34  Krzysztof BOSAK                                                                                25433 non-null  int64
 35  Andrzej Sebastian DUDA                                                                         25433 non-null  int64
 36  Szymon Franciszek HOŁOWNIA                                                                     25433 non-null  int64
 37  Marek JAKUBIAK                                                                                 25433 non-null  int64
 38  Władysław Marcin KOSINIAK-KAMYSZ                                                               25433 non-null  int64
 39  Mirosław Mariusz PIOTROWSKI                                                                    25433 non-null  int64
 40  Paweł Jan TANAJNO                                                                              25433 non-null  int64
 41  Rafał Kazimierz TRZASKOWSKI                                                                    25433 non-null  int64
 42  Waldemar Włodzimierz WITKOWSKI                                                                 25433 non-null  int64
 43  Stanisław Józef ŻÓŁTEK                                                                         25433 non-null  int64
 44  turn                                                                                           25433 non-null  object
dtypes: int64(30), object(15)
memory usage: 8.7+ MB

In [4]:
election_2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25433 entries, 0 to 25432
Data columns (total 36 columns):
 #   Column                                                                                         Non-Null Count  Dtype
---  ------                                                                                         --------------  -----
 0   Symbol kontrolny                                                                               25433 non-null  object
 1   Nr OKW                                                                                         25433 non-null  object
 2   Kod TERYT                                                                                      25433 non-null  object
 3   Typ gminy                                                                                      25433 non-null  object
 4   Numer obwodu                                                                                   25433 non-null  object
 5   Typ obszaru                                                                                    25433 non-null  object
 6   Typ obwodu                                                                                     25433 non-null  object
 7   Siedziba                                                                                       25433 non-null  object
 8   Gmina                                                                                          25433 non-null  object
 9   Powiat                                                                                         25433 non-null  object
 10  Województwo                                                                                    25433 non-null  object
 11  Komisje obwodowe otrzymały kart do głosowania                                                  25433 non-null  int64
 12  Liczba wyborców uprawnionych do głosowania                                                     25433 non-null  int64
 13  Nie wykorzystano kart do głosowania                                                            25433 non-null  int64
 14  Liczba wyborców, którym wydano karty do głosowania                                             25433 non-null  int64
 15  Liczba wyborców głosujących przez pełnomocnika                                                 25433 non-null  int64
 16  Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania                  25433 non-null  int64
 17  Liczba wyborców, którym wysłano pakiety wyborcze                                               25433 non-null  int64
 18  Liczba otrzymanych kopert zwrotnych                                                            25433 non-null  int64
 19  Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu    25433 non-null  int64
 20  Liczba kopert zwrotnych, w których oświadczenie nie było podpisane                             25433 non-null  int64
 21  Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania                     25433 non-null  int64
 22  Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania  25433 non-null  int64
 23  Liczba kopert na kartę do głosowania wrzuconych do urny                                        25433 non-null  int64
 24  Liczba kart wyjętych z urny                                                                    25433 non-null  int64
 25  W tym liczba kart wyjętych z kopert na kartę do głosowania                                     25433 non-null  int64
 26  Liczba kart nieważnych                                                                         25433 non-null  int64
 27  Liczba kart ważnych                                                                            25433 non-null  int64
 28  Liczba głosów nieważnych                                                                       25433 non-null  int64
 29  W tym z powodu postawienia znaku „X” obok nazwiska dwóch lub większej liczby kandydatów        25433 non-null  object
 30  W tym z powodu niepostawienia znaku „X” obok nazwiska żadnego kandydata                        25433 non-null  object
 31  W tym z powodu postawienia znaku „X” wyłącznie obok skreślonego nazwiska kandydata             0 non-null      object
 32  Liczba głosów ważnych oddanych łącznie na wszystkich kandydatów                                25433 non-null  int64
 33  Andrzej Sebastian DUDA                                                                         25433 non-null  int64
 34  Rafał Kazimierz TRZASKOWSKI                                                                    25433 non-null  int64
 35  turn                                                                                           25433 non-null  object
dtypes: int64(21), object(15)
memory usage: 7.0+ MB

#### trust tee analisys

In [5]:
trustree1 = prepare_trusttee_presence_data2020(r'..\data\wybory_2020\maz_zaufania_1_tura.xlsx')
trustree2 = prepare_trusttee_presence_data2020(r'..\data\wybory_2020\maz_zaufania.xlsx')

trustree1['turn'] = '1'
trustree2['turn'] = '2'

In [6]:
trustree1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27227 entries, 0 to 27226
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Kod TERYT            27227 non-null  object
 1   Numer obwodu         27227 non-null  object
 2   Typ obwodu           27227 non-null  object
 3   Siedziba             27227 non-null  object
 4   Gmina                27227 non-null  object
 5   Powiat               27227 non-null  object
 6   Województwo          27227 non-null  object
 7   maz_zaufania_obezny  27227 non-null  int64
 8   czy_maz              27227 non-null  int64
 9   turn                 27227 non-null  object
dtypes: int64(2), object(8)
memory usage: 2.1+ MB

In [7]:
trustree2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27229 entries, 0 to 27228
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Kod TERYT            27229 non-null  object
 1   Numer obwodu         27229 non-null  object
 2   Typ obwodu           27229 non-null  object
 3   Siedziba             27229 non-null  object
 4   Gmina                27229 non-null  object
 5   Powiat               27229 non-null  object
 6   Województwo          27229 non-null  object
 7   maz_zaufania_obezny  27229 non-null  int64
 8   czy_maz              27229 non-null  int64
 9   turn                 27229 non-null  object
dtypes: int64(2), object(8)
memory usage: 2.1+ MB

In [8]:
trustree_presance_2020 = pd.concat([trustree1,trustree2],ignore_index=True)

#### GUS population dataset

In [9]:
gus_population = prepare_gus_population('..\data\wybory_2020\gus_ludnosc_2020.xlsx')

gus_population

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\kgrab\AppData\Local\Temp\ipykernel_13448\861314417.py:1: SyntaxWarning: invalid escape sequence '\d'
  gus_population = prepare_gus_population('..\data\wybory_2020\gus_ludnosc_2020.xlsx')

       TERYT   area  population  density
0     020101   24.0     38872.0      NaN
1     020102  289.0     14699.0      NaN
2     020103  268.0      5337.0      NaN
3     020105  437.0      7349.0      NaN
4     020106  110.0      8632.0      NaN
...      ...    ...         ...      ...
2490  321703  203.0      5402.0      NaN
2491  321704  250.0      4890.0      NaN
2492  326101   98.0    107048.0      NaN
2493  326201  301.0    401907.0      NaN
2494  326301  202.0     40888.0      NaN

[2495 rows x 4 columns]

In [10]:
gus_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TERYT       2495 non-null   object
 1   area        2495 non-null   float64
 2   population  2495 non-null   float64
 3   density     0 non-null      float64
dtypes: float64(3), object(1)
memory usage: 78.1+ KB

#### merging data

In [14]:
results_2020.shape

(50866, 45)

In [15]:
results_2020 = results_2020.merge(
    trustree_presance_2020,
    how='left',
    on = ['Kod TERYT','Numer obwodu','turn']
)

In [16]:
results_2020.shape

(50866, 52)